* {
    background-color: white;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: #94aba0;
    margin: 0;
    padding: 0;
}

/* next: work on having header content centered no matter what. Perhaps look into position and flow */

.all {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    left: 350px;
    
}

h1 {
    font-size: 12px;
    position: absolute;
    top: 300px;
    bottom:auto;
    left: 60%;
    right: auto;
    font-family: monospace;
}

.topbar {
    background-color: #bdecdb;
    height: 60px;
    width: 100%;
    margin-top: -200px;
    margin-bottom: 200px;
}

.content {
   /* width: 45%;*/
   max-width: 500px;
    height: auto;
   margin-left: 200px;
   /* margin-top: 220px; */
    display: block;
    /*padding: 50px;*/
}

.aboutbar {
    background-color: #bdecdb;
    height: 40px;
    width: 200px;
    position: absolute;
    margin-top: -20px;
    margin-left: 40px;
}

.aboutbar p {
   background: transparent;
    text-align: center;
    font-size: large;
    font-weight: bolder;

}

.about, .contact {
    border: 2px solid #c8e7d4;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;

}

.rightbox {
    max-width: 500px;
    height: auto;
    display: block;
    margin-right: 200px;
}

.work {
    /*width: 40%;*/
    /* max-width: 500px;*/
    height: 724px;
  /*  margin-right: 20px; */
  /*  margin-top: -848px; */
    border: 2px solid #c8e7d4;
  /*  float: right;*/
    padding: 50px; 
}